:root {
  //---ЦВЕТА---
  --first-color: rgb(255, 255, 255);
  --second-color: rgb(0, 0, 0);
  --second-color-opacity: rgba(28, 29, 34, 0.357);
  --third-color: rgb(31, 31, 31);
  --fourth-color: #a1a1a1;
  --fifth-color: #ff7979;
  //--sixth-color: #888da7;
  //--seventh-color: #76c318;
  //--eighth-color: #f60707;
  //--ninth-color: #d5d5d5;
  //--tenth-color: rgb(216, 216, 216);
  //--eleventh-color:rgb(255, 255, 6);
  --font-first-color: #ffffff;
  --font-second-color: #000000;
  --font-third-color: #c3c3c3;

  //---РАЗМЕРЫ ШРИФТОВ---
  --font-size-h1: 28px;
  --font-size-h2: 22px;
  --font-size-h3: 18px;
  --font-size-h4: 16px;
  --font-size-h5: 14px;

  --font-size-first: 26px;
  --font-size-second: 18px;

  //---ШРИФТЫ---
  --first-fonts: sans-serif;

  //---ГЛОБАЛЬНЫЕ РАЗМЕРЫ---
  --side-margins-base: 5vw;
}
