@import "./fonts.scss";
@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  // border: 1px solid red;
}
button{
  border: unset;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: rgba(234, 234, 234, 0.233);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(47, 47, 47, 0.161);
  border-radius: 20px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  height: max-content;
}

body.click-ban {
  * {
    pointer-events: none;
  }
}
